.gameSearchContainer {
    display: flex;
    align-items: center;
}

.gameTitle {
    display: flex;
    align-items: center;
}

.gameTitle > small {
    display: block;
    margin-left: auto;
}

.gamesGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}