/* Breadcrumbs */
.breadcrumbs {
    display: flex;
    background-color: #7380AF;
    padding: 10px 3vw;
    margin: 0px;
    list-style-type: none;
    color: black;
}

.breadcrumbs > li {
    font-size: 0.8rem;
}

.breadcrumbs > li:not(:first-of-type)::before {
    margin: 0px 10px;
    content: "-"
}

.breadcrumbs > li:last-of-type {
    font-weight: 500;
}

.breadcrumbs a {
    color: black;
    text-decoration: none;
}