/* Design for */
.filterContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 3vw;
    margin-bottom: 40px;
    background-color: rgba(242, 241, 239, 0.7);
    color: black;
}

.filterContainer > div {
    display: flex;
    align-items: center;
    width: 80%;
}

select {
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    margin-left: 10px;
    width: 200px;
}

.submitBtn {
    margin: 10px !important;
}

/* Screens under 900px */ 
@media screen and (max-width: 900px) {
    .filterContainer { flex-direction: column; }
    select { width: 100%; margin: 10px; }
}