footer {
    display: flex;
    padding: 40px 4vw;
    background-color: #1E2C5E;
    box-shadow: -4px 0px 10px rgba(0,0,0,0.8);
}

footer a {
    color: white;
}

.footerLogo {
    display: block;
    height: fit-content;
    margin-left: auto;
    margin-top: auto;
}

.footerLogo > img {
    display: block;
    margin: auto;
}

/* Screens under 640px */
@media screen and (max-width: 640px) {
    footer { flex-direction: column; text-align: center;}
    .footerLogo { margin: 20px auto; }
}