/* Styling for header */
header {
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 0px 4vw;
    height: 110px;
    background-color: #1E2C5E;
    box-shadow: 4px 0px 10px rgba(0,0,0,0.8);
}

.mainNav {
    height: 100%;
    margin-left: auto;
}

.mainNav > ul {
    display: flex;
    height: 100%;
    margin: 0px;
    list-style-type: none;
}

.mainNav > ul > li {
    display: flex;
    height: 100%;
    padding: 0px;
}

.mainNav > ul > li > a {
    height: 100%;
    padding: 0px 20px;
    align-content: center;
    text-decoration: none;
    color: white;
}

.active {
    background-color: #98a6d8;
    color: black !important;
}

/* Nav button */
header button {
    display: block;
    margin-left: auto;
}

.openBtn {
    background-color: transparent;
    border: none;
}

.openBtn span {
    display: block;
    margin: 7px 0px;
    width: 30px;
    height: 2.5px;
}

/* Responsive nav */
@media screen and (max-width: 640px) {
    header { position: relative; }
    .mainNav { z-index: 2000; position: absolute; width: 100vw; height: fit-content; top: 110px; left: 0; margin: 0px; background-color: #1E2C5E; }
    .mainNav > ul { display: block; width: fit-content; margin: 20px auto; padding: 0px; justify-items: center; }
    .mainNav > ul > li > a { padding: 20px; }
    .active { background-color: transparent; text-decoration: underline !important; color: white !important; text-align: center; }
}