.paginationContainer {
    display: flex;
    justify-content: center;
    width: fit-content;
    margin:  20px auto;
    border-radius: 20px;
    background-color: #F2F1EF;
}

.paginationContainer button {
    padding: 0px 20px;
    background-color: transparent;
    border: none;
}

.paginationContainer button:hover {
    cursor: pointer;
}

.paginationContainer ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    color: black;
}

.paginationContainer ul > li {
    padding: 10px;
}

.paginationContainer ul > li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.activePage {
    font-weight: 700;
    background-color: #FEDE5D;
    text-decoration: underline;
}