/* General styling */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  min-height: 100vh;
  background-image: linear-gradient(to right bottom, #1E2C5E, #FF7130, #FEDE5D );
  background-repeat: no-repeat;
  color: #F2F1EF;
  font-family: montserrat, Arial, Helvetica, sans-serif;
}

body {
  margin: 0px;
}

main {
  display: block;
  margin: 0px auto;
  max-width: 1200px;
  width: 80vw;
}

section {
  margin: 20px 0px 50px 0px;
}

/* Buttons */
.btn {
  display: block;
  margin: 40px auto;
  width: fit-content;
  padding: 10px 20px;
  text-decoration: none;
  color: black;
  font-weight: 500;
  border: none;
  border-radius: 10px;
  background-color: #FEDE5D;
  box-shadow: inset 0px -4px 3px rgba(68, 54, 9, 0.3),
              inset 0px 4px 3px rgba(255, 254, 251, 0.35);
}

.btn:hover:not(:disabled) {
  cursor: pointer;
}

.btn:active:not(:disabled) {
  background-color: #f1d14e;
  box-shadow: inset 0px -4px 3px rgba(68, 54, 9, 0.3),
              inset 0px 0px 2px 3px rgba(68, 54, 9, 0.2);
}

.btn:disabled {
  background-color: #af9734;
}

.spanBtn {
  text-decoration: underline;
  font-size: 0.9rem;
  color: white;
}

.spanBtn:hover {
  cursor: pointer;
}

.crossBtn {
  background-color: transparent;
  border: none;
}

.crossBtn:hover {
  cursor: pointer;
}

.crossBtn > span {
  display: block;
  width: 30px;
  height: 2px;
  background-color: black;
}

.crossBtn > span:first-of-type {
  transform: rotate(45deg);
}

.crossBtn > span:last-of-type {
  transform: rotate(-45deg);
  margin-top: -2px;
}

.white span {
  background-color: white !important;
}

/* Inputs */
input[type=text], input[type=password], textarea {
  height: fit-content;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  width: 80%;
  font-family: montserrat, Arial, Helvetica, sans-serif;;
}

input[type=number] {
  height: fit-content;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
}

/* Confirmations */
.confirm {
  display: block;
  width: 80%;
  padding: 10px 20px;
  margin: 20px 0px;
  border-radius: 10px;
  border: solid 1px rgb(67, 214, 22);
  background-color: rgba(140, 247, 41, 0.35);
  color: black !important;
}

.spinner {
  display: block;
  margin: 10px auto;
}

.error {
  display: block;
  width: 80%;
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: solid 1px rgb(238, 51, 18);
  background-color: rgba(224, 27, 13, 0.35);
  color: black !important;
}

.popUp {
  z-index: 1000;
  position: fixed; 
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
  padding: 10px 20px;
  border-radius: 10px;
  border: solid 1px rgb(255, 208, 0);
  background-color: rgba(235, 201, 9, 0.8);
  color: black;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  animation-name: displayPopup;
  animation-duration: 0.25s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

/* Animations */
@keyframes displayPopup {
  from {
    opacity: 0;
  } to {
    opacity: 1
  }
}